@model IEnumerable<Iaeste.Models.Question>

@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/FAQ.css")
@Styles.Render("~/Content/Index.css")

@*title*@
<div class="bigText">
    <p class="title">FAQ</p>
</div>


@*TODO:table of content like https://help.ubuntu.com/community/ServerFaq*@

@*@foreach (var item in Model)
    {
        <div class="questionContainer">
            <div class="question">@item.Text</div>
            <div class="answer">@item.Answer</div>
        </div>
    }*@

@*lololo*@
<div class="bigText">
    <p class="title">Відгуки студентів про IAESTE</p>
</div>

<div>
    <p style="font-size: 34px; text-align: center">Олексій Сергієнко Студент КПІ, Рік стажування у Швейцарії</p>
    <div style="padding-right: 2%">
        <div style="float: left; padding-left: 2%; padding-right: 2%">
            <img src="~/Content/Images/FAQphotos/Alex.jpg" />
        </div>
        <p style="font-size: 28px; text-align: justify; padding-left: 2% ">
            Перший раз я прийшов до IAESTE 2 роки тому, и перше, що мене вразило - це тепла та дружня
            атмосфера на заняттях, учні, які дійсно хочуть вчитися та викладач, якому не байдуже, яким буде
            результат нашого навчання. Все своє життя я вважав, що в мене немає схильності до вивчення
            іноземних мов, але вже за декілька місяців я почав помічати результати, які мене не могли не
            радувати. Ще з раннього дитинства в мене була мрія поїхати до Швейцарії, і коли випала така
            нагода - я зробив все, щоб її не втратити. Недовго думаючи, я подав документи ,та пройшов
            співбесіду, після чого мене прийняли. Я був неймовірно радий, і навіть зараз - оглядаючись назад,
            я можу сказати, що це був найкращий рік в моєму житті ...
            Я зрозумів, що IAESTE - це не лише наша, порівняно невелика, організація, це неймовірно велике,
            міжнародне товариство. Мене прийняли в Швейцарії дуже тепло, не лише зі сторони IAESTE, а ще
            й зі сторони університету, в якому я проходив стажування, та колег, які були завжди відкриті для
            допомоги. Майже кожні вихідні були нові подорожі, святкування, дійства, це допомагало мені
            рости не лише з професійної точки зору, а ще й з духовної. Я вважаю, що за той рік я побачив,
            відчув, зробив більше, ніж за все моє минуле життя, але все гарне рано чи пізно закінчується, і
            мені також довелося повернутися додому. Вже маючи не аби який досвід, я з легкістю знайшов
            роботу в Україні, а в Швейцарії я так стоваришувався з колегами і мені запропонували після
            навчання повернутися до них. Тому я вважаю IAESTE моєю другою домівкою, яка дала мені не аби
            який шанс у житті!
        </p>
    </div>
</div>

<div>
    <p style="font-size: 34px; text-align: center">Алла Марченко, cтудентка НТУУ «КПІ» та Університетту у Норвегії</p>
    <div style="padding-right: 2%">
        <div style="float: right; padding-left: 2%; padding-right: 2%">
            <img src="~/Content/Images/FAQphotos/Alla.jpg" />
        </div>
        <p style="font-size: 28px; text-align: justify; padding-left: 2% ">
            В моєму житті IAESTE відіграло дуже важливу роль. З дитинства мені хотілося
            вивчити англійську мову та бути студентом одного із Британських вищих
            навчальних закладів. (Всі мають право мріяти ) Будь-яку мову вчити не легко,
            особливим бар’єром є спілкування. Дуже часто люди вчать мову, але потім
            бояться нею спілкуватися. Мову я почала вчити з першого класу школи й на
            момент, коли я поступила до інституту, я мала певний словниковий запас та
            граматичні основи, але я відчувала, що мушу знати більше. Одина моя
            знайома порадила мені звернутися в IAESTE. Я вирішила записатися тому, що
            ці курси були відносно поруч та мали гнучкий графік роботи. Й мушу визнати,
            з того моменту ні хвилини не жалкувала про свій вчинок. Кожного разу, ідучи
            на курси, я мала піднесений настрій, бо я йшла туди, де відкриті та добрі
            люди зібралися разом, щоб навчатися, ділитися досвідом та враженнями.
            Викладачем в моїй групі була Наталія Вікторівна. Вона нас навчила не лише
            англійської мови, а й подолала наші страхи помилитися під час спілкування.
            Вона навчила нас бути відкритими та впевненими в собі, вірити в себе та
            важко працювати. Мені завжди було приємно, з яким інтузіазмом Наталія
            Вікторівна ставилася (й я впевнена що зараз також ставиться) до навчання. Як
            вона шукає індивідуальний підхід до кожного й встигає виділити всім час.
            Відвідування IAESTE для мене були не рутиною, а відпочинком. Я завжди
            шукала щось цікаве, чим можна поділитися з іншими учнями. Більшість з них
            досі мої хороші друзі й ними я завдячую IAESTE. Коли настав час подавати
            документи на магістра, то я ризикнула й здала IELTS. Звісно, я дуже
            хвилювалася на всіх етапах здачі, але коли мова дійшла до співбесіди з
            британцем, то я нарешті розслабилася та досить успішно поспілкувалася. Я
            була одна з небагатьох, хто заходив на співбесіду не паникуючи. Це
            досягнення є наслідком відвідування IAESTE-курсів і результатом посмішок та
            турботи Наталії Вікторівни, та спілкування з цікавими людьми, які відвідують
            ці курси. Зараз я вже другий рік як навчаюся не лише в КПІ, а і в Норвегії. Я
            майже втрапила до Британії, але ще все попереду, зокрема PhD. Головне,
            визначити мету та йти до неї. Хочеться висловити вдячність IAESTE за те, що
            вже стільки років воно будує особистості, навчає не лише мови, але й вмінню
            спілкуватися, вірити в себе та підтримувати інших. Для мене IAESTE - це ще
            одна сім’я.
        </p>
    </div>
</div>


<div>
    <p style="font-size: 34px; text-align: center">Iра Мироненко, студентка НТУУ «КПІ»</p>
    <div style="padding-right: 2%">
        <div style="float: left; padding-left: 2%; padding-right: 2%">
            <img src="~/Content/Images/FAQphotos/Ira.jpg" />
        </div>
        <p style="font-size: 28px; text-align: justify; padding-left: 2% ">
            В жизни каждого студента, молодого специалиста наступает момент, когда
            понимаешь, что твое будущее зависит от того, в какое русло ты направишь
            свой творческий потенциал, знания, креатив. Именно это и помогает сделать
            международная организация IAESTE, которой в этом году (2014)
            исполнилось 20 лет. IAESTE дает прекрасную возможность молодым
            специалистам из разных стран обмениваться опытом работы и приобретать
            новый опыт за границей путем прохождения практики, стажировки в
            известных международных компаниях, научных центрах. В этом году мне
            посчастливилось стажироваться, набраться опыта работы в Шведской
            компании с помощью IAESTE . Этот опыт действительно очень ценен и
            является важным, так как мы - молодежь, которая наслышана о европейском
            качестве, стандарте, можем на практике ощутить эти вещи, путем
            приобретения нового опыта работы и ведения бизнеса от иностранных
            коллег. IAESTE дает огромный толчок в жизни для развитии себя и
            аккумулирования новых знаний. После стажировки за границей чувствуешь
            себя намного более уверенным и компетентным в той области знаний,
            которую изучаешь. Таким образом, IAESTE выращивает молодых
            профессионалов, которые после таких стажировок могут сделать большой
            вклад в развитии науки, бизнеса нашей страны. Присоединяйтесь к этой
            замечательной организации! Расти и развивайся, дорогой IAESTE!
        </p>
    </div>
</div>

<div>
    <p style="font-size: 34px; text-align: center">Ольга Рахманова, Campaign Manager Швейцарської компанії</p>
    <div style="padding-right: 2%">
        <div style="float: right; padding-left: 2%; padding-right: 2%">
            <img src="~/Content/Images/FAQphotos/olgaaa.jpg" />
        </div>
        <p style="font-size: 28px; text-align: justify; padding-left: 2% ">
            IAESTE став для мене потужним поштовхом для саморозвитку. Почавши з
            практики в Університеті міста Тюбінген у Німеччині у рамках обмінної
            програми, де я працювала викладачем у літній мовні школі, я почала
            реалізувати себе як фахівець з спеціальності «Філологія». Потім були дуже
            цікаві роки співпраці з IAESTE в якості мовного викладача в школі «Молодість
            та Майбутнє Європи», яка була створена за ініціативою Національного
            Секретаря IAESTE України Проф. Тамари Стрижак. Завдяки цьому я також
            здобула досвід журналісткої роботи та координатора культурної програми
            для іноземних студентів. Цінним надбанням для мене стало спілкування з
            однолітками з багатьох країн Європи, що збагатило мій світогляд та
            зруйнувало бар’єри міжкультурного спілкування. Також я відчула, що моя
            перша філологічна освіта була необхідною, але недостатньою в сучасному
            світі, де знання іноземної мови - це лише інструмент, але не професія. Тому я
            вирішила здобути другу вищу освіту за напрямком "Маркетинг". Цей крок
            відкрив для мене нові обрії. Знову, завдяки обмінній програмі IAESTE, я
            потрапила на практику до Швейцарської компанії, за спеціальністю
            «Маркетинг». Рік практичного досвіду в провідній компанії Європи надав
            мені упевненості в правильності обраного фахового шляху і допоміг знайти
            себе у житті, та головне – від перших кроків з IAESTE як студент-практикант до
            моєї сьогоденної посади Company Manager в Європейський компанії
            пройшло лише 10 років, а мій життєвий багаж містить справжні скарби:
            досвід спілкування, пізнання життя, особистісний ріст, професійне
            вдосконалення, широкий світогляд, велике коло друзів , які розмовляють
            різними мовами, але розуміють один одного, бо ми всі пройшли школу
            IAESTE й розділяємо спільні Європейські цінності.
            IAESTE, дякую за все те, що я здобула. Дякую за постійний стимул для
            самовдосконалення. Бо, хто знає, наступним кроком може стати ступень
            MBA... Але, де б я не опинилася, я завжди пам’ятатиму, що перші професійні
            кроки я робила з IAESTE України.
        </p>
    </div>
</div>

<div>
    <p style="font-size: 34px; text-align: center"> Слава Бизянов Выпускник КПИ, успешный бизнесмен</p>
    <div style="padding-right: 2%">
        <div style="float: left; padding-left: 2%; padding-right: 2%">
            <img src="~/Content/Images/FAQphotos/Slava.jpg" />
        </div>
        <p style="font-size: 28px; text-align: justify; padding-left: 2% ">
            Моє знайомство з IAESTE було абсолютно випадковим, але корінним способом змінило моє життя.
            В уже далекому 2006 році я був студентом другого курсу КПІ і шукав курси вивчення німецької
            мови. Саме тоді я вперше завітав до IAESTE, хоча ще не знав, які можливості відкриються переді
            мною. Дуже затишна атмосфера, професіонали-викладачі та наполегливі студенти сприяли цьому.
            З першого ж дня я почав старанно шліфувати свої знання німецької мови і вже через рік отримав
            запрошення на проходження практики в Німеччині в компанії Deutsche Telekom AG. За 6 місяців
            проведених в Дюссельдорфі я пізнав дуже багато нового, познайомився з цікавими людьми,
            значно підвищив рівень знання німецької мови, я міг вільно розмовляти з корінними жителями і
            це була просто ейфорія. Також я мав змогу багато подорожувати і досі згадую прекрасні
            європейські міста, що мені довелося відвідати. Після повернення додому набуті навички та знання
            дали мені дуже багато переваг та перспектив, так уже на 4 курсі навчання я влаштувався
            працювати в технічний відділ МТС - однієї з провідних компаній стільникового зв&quot;язку в Україні.
            Минуло уже майже 10 років, відколи я познайомився з IAESTE, та саме зараз прийшло
            усвідомлення того, кому насправді я завдячую більшості своїх успіхів в дорослому житті. Дякую,
            IAESTE, та низький тобі уклін.
        </p>
    </div>
</div>


<div>
    <p style="font-size: 34px; text-align: center"> Cтас Соколовський, cтудент НТУУ «КПІ» та Університету в Польші</p>
    <div style="padding-right: 2%">
        <div style="float: right; padding-left: 2%; padding-right: 2%">
            <img src="~/Content/Images/FAQphotos/Stas.jpg" />
        </div>
        <p style="font-size: 28px; text-align: justify; padding-left: 2% ">
            Два роки тому я вирішив вступити до міжнародної організації ІАESTE, навіть
            не підозрюючи, які можливості вона відкриває для молодих людей. ІАESTE
            дає можливість стажуватися студентам з технічною спеціальністю в багатьох
            країнах світу. Практика в іншій країні подарувала нам нові знайомства і чудові
            враження. По-перше, це хороша можливість попрактикувати іноземні мови.
            Більше того, як я вже говорив, це нові знайомства. Було приємно
            поспілкуватись з людьми з різних країн та дізнатися багато цікавого від них, а
            особливо їх погляди на життя. Також ця організація допомогла мені вперше
            побувати за кордоном, набратись досвіду зі своєї спеціальності, і звичайно
            бути учасником цікавих проектів. Тому я дуже вдячний ІАESTE за те, що вона
            зробила кращими і насиченішими мої студентські роки!
        </p>
    </div>
</div>


<div>
    <p style="font-size: 34px; text-align: center">Кузьмич Іго, випускник КНУіБА </p>
    <div style="padding-right: 2%">
        <div style="float: left; padding-left: 2%; padding-right: 2%">
            <img src="~/Content/Images/FAQphotos/Igor.jpg" />
        </div>
        <p style="font-size: 28px; text-align: justify; padding-left: 2% ">
            Хоч студентом був старанним та натхненим, вивченням англійської мови зайнявся лише
            перед вступом в аспірантуру.
            Випадково від товариша взнав про IAESTE, який уже був її учасником. До того я уже встиг
            відвідати курси англійської мови та розмовні клуби. Попавши в оточення IAESTE, я зрозумів, що wt
            не просто вивчення мови чи спілкування, це практичний досвід, який ти вислуховуєш від людей,
            які люблять свою професію і завжди прагнуть чогось нового. На курсах програми IAESTE дуже
            гарний підхід до викладання, легка та душевна атмосфера. Виступивши в якості гіда для іноземних
            студентів із програми IAESTE, мав можливість підвищити практику спілкування, вивчити культуру
            та традиції інших країн.
            В перший рік отримати запрошення на стажування мені не вдалося, та після розповідей
            студентів, яким це вдалось, я просто горів від бажання отримати шанс. На другий рік навчання я
            отримав запрошення на стажування в університеті Leuphana, Німеччина. Завдяки IAESTE я мав
            шанс пронести на собі підхід до науки технічно розвиненої країни, поспілкуватись та поділитись
            досвідом із науковцями та аспірантами Європи та Азії. Також я мав змогу подорожувати та
            відкривати для себе нову архітектуру і краєвиди.
            Повернувшись додому з новими знаннями та підходами, я закінчив написання своєї
            дисертаційної роботи та успішно здобув ступінь кандидата технічних наук. Дякую, IAESTE за досвід,
            знання і нові враження.
        </p>
    </div>
</div>

<div>
    <p style="font-size: 34px; text-align: center">Сергій Костін, flight attendand міжнародних авіаліній</p>
    <div style="padding-right: 2%">
        <div style="float: right; padding-left: 2%; padding-right: 2%">
            <img src="~/Content/Images/FAQphotos/Serg.jpg"/>
        </div>
        <p style="font-size: 28px; text-align: justify; padding-left: 2% ">
            Дуже часто, коли ти дивишся на життя з позитивом, програмуєш себе на досягнення мети в будь якій
            сфері, на твоєму шляху також трапляються такі люди і ситуації, які дають тобі можливість розвиватися
            та йти вперед. Однією з моїх мрій на початку навчання в Транспортному Університеті було вивчення
            англійської мови. За час мого навчання я не обмежував себе тільки роботою в університеті - я шукав
            різні шляхи розвитку та вдосконалення своїх знань. Мої друзі, які були випускниками КПІ, порадили
            мені IAESTE. Чесно кажучи, я був трішки здивований, що курси, крім знань іноземної мови, дають
            можливість виїхати на стажування за фахом закордон, (я на таке не розраховував!) , тому, повний
            ентузіазму, я подав заявку до офісу IAESTE. В перші дні мені дуже сподобались досвідчені викладачі з
            методикою, яка дійсно дає результат; дружня група: люди були з різних професійних сфер. Це
            розвивало, давало нові знайомства та нові можливості. Починав я свій англ. з Elementary. Викладач
            давав практичні знання мови, всі приклади по граматиці пояснювались на англійській, лиш деякі
            приклади розглядались індивідуально. Не можу сказати, що це не шокувало, та методика працювала,
            через рік я перейшов до групи Pre-intermediate, де я познайомився з Наталією Вікторівною Це
            викладач вищого класу: вона дає високий рівень знань, який можна представити на міжнародному
            рівні. В 2013 році по моїй спеціальності знайшовся грант в Польщу – я був безмежно щасливий.
            Зібравши всі документи, я отримав запрошення та відправився в Краків. Скажу відверто, поїздка на
            практику закордон змінила моє життя до сьогоднішнього дня. Після поїздки я повністю змінив своє
            мислення, мені було важко повірити, що можна поєднувати все – навчання, роботу, подорожі,
            знайомства. Це було дійсно круто і все завдяки IAESTE. Пройшло майже 3 роки, а спогади про
            практику закордоном ще не замінило нічого, що могло бути більш прекраснішим досвідом, який я
            використовую до сьогодні.
            Дякую IAESTE!)))
        </p>
    </div>
</div>


<div>
    <p style="font-size: 34px; text-align: center">Олександр Сергієнко, cтудент КПІ, ПБФ , Рік стажування у Швейцарії</p>
    <div style="padding-right: 2%">
        <div style="float: left; padding-left: 2%; padding-right: 2%">
            <img src="~/Content/Images/FAQphotos/Alexander.jpg" />
        </div>
        <p style="font-size: 28px; text-align: justify; padding-left: 2% ">
            Потрапивши до IAESTE у 2011, я і уявити не міг, як ця організація круто
            змінить моє життя. Одразу мене вразив тип занять з англійської мови
            – це не типові “прийшов-відсидів- пішов”. В очі кинулись дружній
            колектив, душевні розмови, жарти та ініціативний, досвідчений,
            кваліфікований викладач. IAESTE вдалось поєднати на заняттях тепло,
            домашній затишок та підготовку з англійської мови на дійсно
            високому рівні. Кожне домашнє завдання ретельно підібрано
            викладачем так, щоб було не тільки корисно , але і цікаво його
            виконувати. Як показує час і життя – навчання принесло неабиякі досягнення і успіхи.
            Раптом, коли випала нагода пройти стажування в Швейцарії ( Дюбендорф, компанія Empa), я
            доклав чимало зусиль, ретельно готуючись до співбесіди та подання документів. Мета виправдала
            засоби! Згодом я отримав візу та відповідні документи і був готовий до нового досвіду та пригод.
            Бракує слів, щоб описати всі ті спогади та емоції. Безперечно, це був щасливий рік. Довгий час за
            кoрдоном сильно міняє твій світогляд та робить з тебе іншу, більш впевнену людину. Нові
            виклики, друзі та нове уявлення про світ – основна ідея IAESTE.
            Я знайшов справжніх друзів по всьому світу, які так само є частиною IAESTE. Вбираючи як губка
            нові знання на роботі, працював у сфері Біомедицини у найкращому дослідницькому інституті.
            Кожен день давав такий досвід, який неможливо отримати в університеті. Я розвивався не тільки в
            теоретичній частині, але і в практичній – проводячи експерименти. Мені випала нагода працювати
            в досвідченому, професійному, веселому та дружньому колективі. В вільний від роботи час я мав
            можливість подорожувати та відкривати для себе нові горизонти. Кожен день мав свою власну
            неповторну історію.
            Після Швейцарії, через рік, мені пощастило поїхати на стажування в Австрію (Грац, Siemens). Зараз
            я тут знаходжусь всього місяць – а вражень, як від цілого року. Нове середовище змушує
            розвиватись та дає натхнення. Саме тому, я в передчутті від наступних 11 місяців.
            Особисто для мене IAESTE Ukraine – second home. Радий, що зустрів цю організацію на своєму
            життєвому шляху, вона як ніщо інше змінило моє життя. IAESTE наповнило моє життя кольорами і
            стерло багато умовних і не умовних кордонів.
        </p>
    </div>
</div>


