@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Index.css")


@*title*@
<div class="bigText">
    <p class="title">Що таке IAESTE ?</p>
</div>


@*iaeste explain*@
<div class="explain">
    <ul style="display: inline-block">
        <li style="margin: 20px">
            <img src="~/Content/Images/Logo-IAESTE-white-transparent-background1.png" height="160" />
        </li>
        <li>
            <p class="explainText">I - International (Міжнародна)</p>
            <p class="explainText">A - Association (Асоціація)</p>
            <p class="explainText">E - Exchange (по обміну)</p>
            <p class="explainText">S - Student (Студентами)</p>
            <p class="explainText">T - Technical (для технічного)</p>
            <p class="explainText">E - Experience (Досвіду)</p>
        </li>
    </ul>
</div>

@*splitter*@
<div class="splitter">
</div>


@*title*@
<div class="bigText">
    <p class="title">Історія IAESTE</p>
</div>

@*iaeste history*@
<div class="plainText">
    <p style="margin: 0px; text-align: justify">
        In the aftermath of World War II, a new spirit pervaded the world:
        a desire for International understanding and co-operation.
        It was this spirit that brought forth both the United Nations (UN)
        and IAESTE, organisations dedicated to promoting these objectives.
        The Association was founded in January 1948 at Imperial College,
        London, where Mr. James Newby, Head of the Imperial College Vacation
        Work Committee, initiated a meeting with ten European countries with
        the aim to promote a better understanding between countries and
        cultures in the post war era.
        The founding Member countries were:
    </p>

    <ul style="margin: 0; ">
        <li>
            <p>Belgium </p>
            <p>Czechoslovakia</p>
        </li>
        <li style="margin-left: 30px">
            <p>Denmark</p>
            <p>Finland</p>
        </li>
        <li style="margin-left: 30px">
            <p>France</p>
            <p>Netherlands</p>
        </li>
        <li style="margin-left: 30px">
            <p>Norway</p>
            <p>Sweden</p>
        </li>
        <li style="margin-left: 30px">
            <p>Switzerland</p>
            <p>United Kingdom</p>
        </li>
    </ul>
    <p style=" text-align: justify; margin-top: 0px">
        Since 1948, the geographical coverage was soon to spread to most of
        Europe and beyond, as new countries were admitted to Membership. The
        Association has grown to include more than 80 countries world-wide and
        has exchanged in excess of 350,000 students and more than 1500 Companies,
        Universities and other Employers benefit year by year from the services
        provided by IAESTE. This means, that on average around 5,000 traineeship
        places are exchanged each year, enabling students and industry to profit
        from the internationality of the organisation within the global economy.
        The Association became a registered body according to Luxembourg law at
        its General Conference 2005 in Cartagena de Indias, Colombia. Since then,
        the official name is: IAESTE a.s.b.l.
        The organisation is a non-political, independent, non-governmental
        Association maintaining a consultative relationship with several agencies of the UN.
    </p>
</div>

@*splitter*@
<div class="splitter">
</div>

@*title*@
<div class="bigText">
    <p class="title">Список країн, які є повними членами IAESTE</p>
</div>

@*countriesTable*@
<div style="text-align: center; color: white">
    <ul style="display: inline-block">
        <li>
            <table class="table" style="width: auto; margin: 20px">
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/arg.png" />
                    </td>
                    <td>Argentina</td>
                    <td>Аргентина</td>
                    <td>1961</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/arm.png" />
                    </td>
                    <td>Armenia</td>
                    <td>Вірменія</td>
                    <td>1998</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/austra.png" />
                    </td>
                    <td>Australia</td>
                    <td>Австралія</td>
                    <td>1996</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/austria.png" />
                    </td>
                    <td>Austria</td>
                    <td>Австрія</td>
                    <td>1949</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/bel.png" />
                    </td>
                    <td>Belgium </td>
                    <td>Бельгія</td>
                    <td>1948</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/bos.png" />
                    </td>
                    <td>Bosnia and Herzegovina</td>
                    <td>Боснія і Герцоговина</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/bra.png" />
                    </td>
                    <td>Brazil</td>
                    <td>Бразилія</td>
                    <td>1982</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/can.png" />
                    </td>
                    <td>Canada</td>
                    <td>Канада</td>
                    <td>1953</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/co.png" />
                    </td>
                    <td>Colombia</td>
                    <td>Колумбія</td>
                    <td>1993</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/cr.png" />
                    </td>
                    <td>Croatia</td>
                    <td>Хорватія</td>
                    <td>1993</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/cy.png" />
                    </td>
                    <td>Cyprus</td>
                    <td>Кіпр</td>
                    <td>1980</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/cz.png" />
                    </td>
                    <td>Check Republic</td>
                    <td>Чехія</td>
                    <td>1965</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/dk.png" />
                    </td>
                    <td>Denmark</td>
                    <td>Данія</td>
                    <td>1948</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/ec.png" />
                    </td>
                    <td>Ecuador</td>
                    <td>Еквадор</td>
                    <td>1999</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/eg.png" />
                    </td>
                    <td>Egypt</td>
                    <td>Єгипет</td>
                    <td>1961</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/mk.png" />
                    </td>
                    <td>F. Y. R. Macedonia</td>
                    <td>Македонія</td>
                    <td>1994</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/fi.png" />
                    </td>
                    <td>Finland</td>
                    <td>Фінляндія</td>
                    <td>1948</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/fr.png" />
                    </td>
                    <td>France</td>
                    <td>Франція </td>
                    <td>1948</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/ger.png" />
                    </td>
                    <td>Germany</td>
                    <td>Німеччина</td>
                    <td>1950</td>
                </tr>
            </table>
        </li>
        @*-------------------------------------------------------*@
        <li>
            <table class="table" style="width: auto; margin: 20px">
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/gh.png" />
                    </td>
                    <td>Ghana</td>
                    <td>Гана</td>
                    <td>1970</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/gr.png" />
                    </td>
                    <td>Greece</td>
                    <td>Греція</td>
                    <td>1958</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/hu.png" />
                    </td>
                    <td>Hungary</td>
                    <td>Угорщина</td>
                    <td>1983</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/is.png" />
                    </td>
                    <td>Iceland</td>
                    <td>Ісландія</td>
                    <td>1951</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/ir.png" />
                    </td>
                    <td>Iran</td>
                    <td>Іран</td>
                    <td>2002</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/irla.png" />
                    </td>
                    <td>Ireland</td>
                    <td>Ірландія</td>
                    <td>1962</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/il.png" />
                    </td>
                    <td>Israel</td>
                    <td>Ізраїль</td>
                    <td>1951</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/jp.png" />
                    </td>
                    <td>Japan</td>
                    <td>Японія</td>
                    <td>1964</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/jo.png" />
                    </td>
                    <td>Jordan</td>
                    <td>Йорданія</td>
                    <td>1978</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/kaz.png" />
                    </td>
                    <td>Kazakhstan</td>
                    <td>Казахстан</td>
                    <td>1995</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/leb.png" />
                    </td>
                    <td>Lebanon</td>
                    <td>Ліван</td>
                    <td>1966</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/lit.png" />
                    </td>
                    <td>Lithuania</td>
                    <td>Литва</td>
                    <td>1990</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/mal.png" />
                    </td>
                    <td>Malta</td>
                    <td>Мальта</td>
                    <td>1984</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/mex.png" />
                    </td>
                    <td>Mexico</td>
                    <td>Мексика</td>
                    <td>1985</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/mon.png" />
                    </td>
                    <td>Mongolia</td>
                    <td>Монголія</td>
                    <td>2001</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/nor.png" />
                    </td>
                    <td>Norway</td>
                    <td>Норвегія</td>
                    <td>1948</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/oma.png" />
                    </td>
                    <td>Oman</td>
                    <td>Оман</td>
                    <td>2001</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/pak.png" />
                    </td>
                    <td>Pakistan</td>
                    <td>Пакистан</td>
                    <td>1990</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/pol.png" />
                    </td>
                    <td>Poland</td>
                    <td>Польща</td>
                    <td>1959</td>
                </tr>
            </table>
        </li>
        @*-------------------------------------------------------*@
        <li>
            <table class="table" style="width: auto; margin: 20px">
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/por.png" />
                    </td>
                    <td>Portugal</td>
                    <td>Португалія</td>
                    <td>1961</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/rom.png" />
                    </td>
                    <td>Romania</td>
                    <td>Румунія</td>
                    <td>1998</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/rus.png" />
                    </td>
                    <td>Russia</td>
                    <td>Росія</td>
                    <td>1991</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/ser.png" />
                    </td>
                    <td>Serbia</td>
                    <td>Сербія</td>
                    <td>1952</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/sln.png" />
                    </td>
                    <td>Sierra Leone</td>
                    <td>Сьєрра-Леоне</td>
                    <td>1991</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/slvk.png" />
                    </td>
                    <td>Slovakia</td>
                    <td>Словакія</td>
                    <td>1965</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/slvn.png" />
                    </td>
                    <td>Slovenia</td>
                    <td>Словенія</td>
                    <td>1993</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/spa.png" />
                    </td>
                    <td>Spain</td>
                    <td>Іспанія</td>
                    <td>1951</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/swe.png" />
                    </td>
                    <td>Sweden</td>
                    <td>Швеція</td>
                    <td>1948</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/swi.png" />
                    </td>
                    <td>Switzerland</td>
                    <td>Швейцарія</td>
                    <td>1948</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/syr.png" />
                    </td>
                    <td>Syria</td>
                    <td>Сирія</td>
                    <td>1965</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/taj.png" />
                    </td>
                    <td>Tajikistan</td>
                    <td>Таджикістан</td>
                    <td>1992</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/tha.png" />
                    </td>
                    <td>Thailand</td>
                    <td>Таїланд</td>
                    <td>1978</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/tun.png" />
                    </td>
                    <td>Туніс</td>
                    <td>Аргентина</td>
                    <td>1959</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/tur.png" />
                    </td>
                    <td>Turkey</td>
                    <td>Туреччина</td>
                    <td>1955</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/ukr.png" />
                    </td>
                    <td>Ukraine</td>
                    <td>Україна</td>
                    <td>1994</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/uk.png" />
                    </td>
                    <td>United Kindom</td>
                    <td>Великобританія</td>
                    <td>1948</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/usa.png" />
                    </td>
                    <td>USA</td>
                    <td>США</td>
                    <td>1950</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/Flags/uzb.png" />
                    </td>
                    <td>Uzbekistan</td>
                    <td>Узбекистан</td>
                    <td>1997</td>
                </tr>
            </table>
        </li>
    </ul>
</div>

@*splitter*@
<div class="splitter">
</div>

@*title*@
<div class="bigText">
    <p class="title">IAESTE Ukraine</p>
</div>

@*iaeste exchane description*@
<div class="plainText">
    <p style="text-align: justify; margin:0px">
        IAESTE Ukraine was formed in 1994.
        The National Secretary of IAESTE Ukraine is Prof. Tamara Stryzhak
        The exchange program  coordinators:
        National Committee in Kiev – Nataliya Sarycheva
        LocaL Committee in Ivano-Frankovsk – Zinyuk Olga
    </p>
       <p style="margin: 0px"> Contacts:</p>
        <ul style="margin: 0px">
            <li style="display: block">stri@aer.ntu-kpi.kiev.ua</li>
            <li style="display: block">sarycheva.nata@gmail.com</li>
            <li style="display: block">+38 050 3121016 </li>
        </ul>      
</div>
