@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Offers.css")

<h2>Offers</h2>
<div class="offers" >
    <div class="offerContainer" >
        <p class="offerDesc">Offer Description is here. tesl big text is here. lalallaa; </p>
        <object data="~/Content/PDFs/a3_all.pdf" type="application/pdf"></object>
        <div style="background: #2f3036"><a href="~/Content/PDFs/a3_all.pdf" target="blank">View Details</a></div>
        
    </div>
    <div class="offerContainer">
        <p class="offerDesc">Offer Description is here. tesl big text is here. lalallaa; </p>
        <object data="~/Content/PDFs/Skhema_elekrichna.pdf" type="application/pdf"></object>
        <div style="background: #2f3036"><a href="~/Content/PDFs/a3_all.pdf" target="blank">View Details</a></div>
    </div>
    <div class="offerContainer">
        <p class="offerDesc">Offer Description is here. tesl big text is here. lalallaa; </p>
        <object data="~/Content/PDFs/Skhema_funkts.pdf" type="application/pdf"></object>
        <div style="background: #2f3036"><a href="~/Content/PDFs/a3_all.pdf" target="blank">View Details</a></div>
    </div>
    <div class="offerContainer">
        <p class="offerDesc">Offer Description is here. tesl big text is here. lalallaa; </p>
        <object data="~/Content/PDFs/Skhema_schit.pdf" type="application/pdf"></object>
        <div style="background: #2f3036"><a href="~/Content/PDFs/a3_all.pdf" target="blank">View Details</a></div>
    </div>
    <div class="offerContainer">
        <p class="offerDesc">Offer Description is here. tesl big text is here. lalallaa; </p>
        <object data="~/Content/PDFs/a3_all.pdf" type="application/pdf"></object>
        <div style="background: #2f3036"><a href="~/Content/PDFs/a3_all.pdf" target="blank">View Details</a></div>

    </div>
    <div class="offerContainer">
        <p class="offerDesc">Offer Description is here. tesl big text is here. lalallaa; </p>
        <object data="~/Content/PDFs/Skhema_elekrichna.pdf" type="application/pdf"></object>
        <div style="background: #2f3036"><a href="~/Content/PDFs/a3_all.pdf" target="blank">View Details</a></div>
    </div>
    <div class="offerContainer">
        <p class="offerDesc">Offer Description is here. tesl big text is here. lalallaa; </p>
        <object data="~/Content/PDFs/Skhema_funkts.pdf" type="application/pdf"></object>
        <div style="background: #2f3036"><a href="~/Content/PDFs/a3_all.pdf" target="blank">View Details</a></div>
    </div>
    <div class="offerContainer">
        <p class="offerDesc">Offer Description is here. tesl big text is here. lalallaa; </p>
        <object data="~/Content/PDFs/Skhema_schit.pdf" type="application/pdf"></object>
        <div style="background: #2f3036"><a href="~/Content/PDFs/a3_all.pdf" target="blank">View Details</a></div>
    </div>
</div>

